:root {
  --mainBlue: #031336d0;
  --lightBlue: #6fbeecec;
  --mainWhite: #fff;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.store-logo {
  width: 50px;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: (var(--mainDark));
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.cart-icon:hover{
  color: red;
}